body {
    margin: 0;
    padding: 0;
    background-color: #2A374A;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://cdn.pixabay.com/photo/2016/10/28/13/09/usa-1777986_960_720.jpg') bottom no-repeat;
    /* background: url('./../assets/images/city-001.webp') bottom no-repeat; */
    background-size: cover;
}

main {
    background-color: #EEEC;    /* Тут специально 4 символа. так как тут прозрачность есть */
}

h1 {
    padding: 16px;
    border-radius: 10%;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: #eb9f12;
    background-color: #0c0b0b99;
}

.news {
    padding: 50px 0 32px;
    border-color: #FFF;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
}

.news>article {
    border-bottom: 1px solid #808080;
}

article a {
    text-decoration: none;
    color: #212529;
}

article a:hover {
    color: #0085A1;
}

article h2 {
    margin-bottom: 5px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article-meta {
    margin-bottom: 5px;
    color: #868E96;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #ADBDC4;
}

.copyright {
    color: #888E93;
    font-family: 'Times New Roman', Times, serif;
}

